

/*
@page content:right {
  @bottom-right {
    content: "Page " counter(page);
    font-size: 11pt;
    border-top: .25pt solid #666;
    color: #555;
  }
  @bottom-left {
    border-top: .25pt solid #666;
    content: $book-title;
    font-size: 9pt;
    color: #333;
  }
}
*/
  /*
@page content:left {
  @bottom-left {
    font-size: 11pt;
    color: #555;
    border-top: .25pt solid #666;
    content: "Page " counter(page);
  }
  @bottom-right {
    content: $book-title;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #333;
  }
}
@page:right {
  @bottom-right {
    margin-right: 0.17in;
  }
  @bottom-left {
    margin-left: 0.17in;
  }
}
@page:left {
  @bottom-left {
    margin-left: 0.17in;
  }
  @bottom-right {
    margin-right: 0.17in;
  }

}

*/
