<!-- First page back contact information -->
<div class="page" style="text-align: center;">
  <h2 class="contact-header">You've found my notebook</h2>
  <p>I might've lost it<br>
     If that's the case, please return it to:</p>
  <br>
  <div>
    <div class="blank-line"></div>
    <div class="blank-line"></div>
    <div class="blank-line"></div>
    <div class="blank-line"></div>
    <div class="blank-line"></div>
  </div>

  <div class="feedback">
    <h4>Feedback?</h4>
    <p>Send it to <a
      href="mailto:bespokenotebooks@gmail.com">bespokenotebooks@gmail.com</a><br>
    We love to hear how you think!</p>

  </div>
</div>

