<!-- First page front cover image -->
<div class="page">
  <div class="guide">
    <img src="/assets/images/panic.jpg"></img>
  </div>
</div>


<!-- First page back contact information -->
<div class="page" style="text-align: center;">
    <p style="margin-top: 0.75in;">You've found my notebook.</p>
    <br>
    <p style="margin-top: 0.75in;">Would you kindly return it to:</p>
    <br>
    <div style="margin-left: 1in;">
      <div class="blank-line"></div>
      <div class="blank-line"></div>
      <div class="blank-line"></div>
      <div class="blank-line"></div>
    </div>
  </div>

