{% for page in (1..include.count) %}
<div class="page">
  <div style="height: 0.5in; width: 5.25in;">
    <h1 style="text-align: center;">Index</h1>

  </div>

  <svg class="guide" xmlns="http://www.w3.org/2000/svg"
                     width="{{include.width}}{{include.unit}}"
                     height="{{include.height | minus: 0.5}}in" viewBox="0 0
                     {{include.width | abs | times: 96 | round}}
                     {{include.height | minus: 0.5 | abs | times: 96
                     | round}}">

    <pattern id="{{"index" | append: include.diameter}}" x="0" y="0" width="{{include.width}}{{include.unit}}"
                                                                    height="{{include.diameter | times: 2}}{{include.unit}}"
                                                                    patternUnits="userSpaceOnUse">
    <!--  Top Line -->
    <line x1="0" y1="0in" x2="{{include.width}}{{include.unit}}" y2="0in" stroke-thickness="1"
                                                                          stroke="#A0A0A0" />
    <!-- Page Number 
    <text class="index_num" x="0.5in" y="0.3in" text-anchor: start;>111</text>

-->
    <!-- Mid Line -->
    <line x1="1in" y1="{{include.diameter | append: include.unit}}"
                   x2="{{include.width}}{{include.unit}}"
                   y2="{{include.diameter | append: include.unit}}" stroke-thickness="1"
                                                                    stroke="#A0A0A0" />
    <!-- Bottom Line -->
    <line x1="0" y1="{{include.diameter | times: 2 | append: include.unit"
                 x2="{{include.width}}{{include.unit}}" y2="{{include.diameter |
                 times: 2 | append: include.unit}}" stroke-thickness="1"
                                                    stroke="#A0A0A0" />

    </pattern>

    <rect x="0in" y="0in" width="{{include.width}}{{include.unit}}"
                          height="{{include.height | minus: 0.5}}{{include.unit}}"
                          fill="url(#{{"index" | append: include.diameter }})" />
  </svg>
</div>
{% endfor %}
