<div class="page">

  <svg class="guide" xmlns="http://www.w3.org/2000/svg"
                     width="{{include.width}}{{include.unit}}"
                     height="{{include.height}}in" viewBox="0 0
                     {{include.width | abs | times: 96 | round}} {{include.height | abs | times: 96
                     | round}}">

    <pattern id="line" x="0" y="0" width="{{include.width}}{{include.unit}}"
                                   height="{{include.diameter}}{{include.unit}}"
                                   patternUnits="userSpaceOnUse">
    <line x1="0" y1="0in" x2="{{include.width}}{{include.unit}}" y2="0in" stroke-thickness="1"
                                                                             stroke="#A0A0A0" />
    </pattern>

    <rect x="0in" y="0in" width="{{include.width}}{{include.unit}}"
                          height="{{include.height}}{{include.unit}}"
                          fill="url(#line)" />
  </svg>
</div>
