<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {% if site.book.coverpage == true %}
    <div class="frontcover">
    </div>
    <div class="backcover">
    </div>
    {% endif %}
    {% if site.book.contactpage == true %}
    <div class="contact">
      <div class="contact-info">
        <p>In case of loss, please return to:</p>
        <div class="blank-line"></div>
        <div class="blank-line"></div>
        <div class="blank-line"></div>
        <div class="blank-line"></div>
      </div>
    </div>
    {% endif %}
    {{ content }}
  </body>

</html>
