---
layout: default
---
{% if site.book.coverpage == true %}
<div class="frontcover">
</div>
<div class="backcover">
</div>
{% endif %}
{% if site.book.contactpage == true %}
<div class="contact">
  <div class="contact-info">
    <p>In case of loss, please return to:</p>
    <div class="blank-line"></div>
    <div class="blank-line"></div>
    <div class="blank-line"></div>
    <div class="blank-line"></div>
  </div>
</div>
{% endif %}

{% assign count = site.quantity %}
{% assign leftpage = site.book.leftpage %}
{% assign rightpage = site.book.rightpage %}
{% for page in (1..count) %}

  {% if leftpage == 316 %}
    {% include_cached 316.html %}
  {% elsif leftpage == "dotgrid" %}
    {% include_cached dotgrid.html %}
  {% elsif leftpage == "lined" %}
    {% include_cached lined_page.html %}
  {% else %}
    {% include_cached blank.html %}
  {% endif %}

  {% if rightpage == 316 %}
    {% include_cached 316.html %}
  {% elsif rightpage == "dotgrid" %}
    {% include_cached dotgrid.html %}
  {% elsif rightpage == "lined" %}
    {% include_cached lined_page.html %}
  {% else %}
    {% include_cached blank.html %}
  {% endif %}
  {% comment %}
    {% include_cached 316.html %}
  {% endcomment %}
{% endfor %}
